@use "../../styles/abstract/mixins" as *;
@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/functions" as *;

.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  &__logo {
    @include flex-center;
    --wrapper-size: 2.5rem;
    
    height: var(--wrapper-size);
    width: var(--wrapper-size);
    background-color: var(--accent);
    border-radius: 50%;
    
    box-shadow: 0 0.25rem 0.5rem 0 translucent(var(--accent), 30%);
    
    color: var(--background);
    
    transition:
      background-color 0.25s ease,
      color 0.25s ease,
      box-shadow 0.25s ease;
    
    .icon {
      --icon-size: 1.25rem;
      
      height: var(--icon-size);
      width: var(--icon-size);
      fill: currentColor;
      stroke: currentColor;
    }
  }
  
  &__name {
    color: var(--text);
    font-family: $serif;
    font-size: $t-l;
    font-weight: 500;
    
    transition: color 0.25s ease;
  }
}