@use "../../styles/abstract/variables" as *;

.gifts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  &__stats {
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;
    margin-left: auto;
  }
  
  &__progress {
    --dot-size: 10px;
    
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(8, var(--dot-size));
    grid-template-rows: repeat(2, var(--dot-size));
  }
  
  &__dot {
    flex: none;
    background-color: var(--border);
    height: var(--size);
    width: var(--size);
    border-radius: 75%;
    
    &--accent {
      background-color: var(--accent);
    }
  }
  
  &__counter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }
  
  &__number {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    font-family: $serif;
    
    .opened {
      font-size: $t-2xl;
      color: var(--text);
      font-weight: 400;
    }
    
    .slash {
      font-size: $t-l;
      color: var(--text-subtle);
      font-weight: 600;
    }
    
    .total {
      font-size: $t-l;
      color: var(--text-subtle);
      font-weight: 400;
    }
  }
  
  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .gifts .gifts__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .gifts .gifts__grid {
    gap: 0.5rem;
  }
}