@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/functions" as *;

.counter {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  &__dot {
    --dot-size: 0.5rem;
    
    flex: none;
    height: var(--dot-size);
    width: var(--dot-size);
    background-color: translucent(var(--accent), 50%);
    transform: translateY(- calc(($t-xs + 0.5rem) / 2));
    border-radius: 50%;
    
    transition: background-color 0.25s ease;
  }
}

@media screen and (max-width: 768px) {
  .counter .counter__wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .counter .counter__dot {
    display: none;
  }
}