@use "../../styles/abstract/functions" as *;

.divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    translucent(var(--border-strong), 25%),
    translucent(var(--border-strong), 75%),
    translucent(var(--border-strong), 25%),
  );
}