@use "../../styles/abstract/mixins" as *;
@use "../../styles/abstract/functions" as *;
@use "../../styles/abstract/variables" as *;

.modal-overlay {
  @include flex-center;
  
  position: fixed;
  inset: 0;
  background-color: #000000A0;
  
  .modal {
    width: 35rem;
    padding: 1.5rem;
    gap: 1.5rem;
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 1.5rem;
    
    &-heading {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      
      .tag {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
        .icon {
          height: 1rem;
          width: 1rem;
          color: var(--accent);
        }
        
        .eyebrow {
          font-size: $t-xs;
        }
      }
      
      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        span {
          flex: none;
          font-family: $mono;
          font-size: $t-s;
          letter-spacing: 0.5px;
          color: var(--text-subtle);
        }
      }
    }
    
    &-content {
      
    }
    
    &-footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      
      .icon {
        flex: none;
        color: var(--accent);
        height: 0.75rem;
        width: 0.75rem;
      }
    }
    
    .line {
      height: 1px;
      width: 100%;
      background-color: var(--border);
    }
    
    &-exit {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      color: var(--text);
      padding: 0.25rem;
      border-radius: 50%;
      
      transition: background-color 0.25s ease;
      
      .icon {
        height: 1.25rem;
        width: 1.25rem;
      }
      
      &:hover {
        background-color: translucent(var(--text), 10%);
      }
    }
  }
}