@use "../../styles/abstract/variables" as *;

.time {
  width: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  
  &__number {
    font-family: $serif;
    font-size: $t-6xl;
    font-weight: 400;
    color: var(--text);
    
    transition: color 0.25s ease;
  }
  
  .eyebrow {
    font-size: $t-xs;
  }
}

@media screen and (max-width: 768px) {
  .time {
    &__number {
      font-size: $t-5xl;
    }
  }
}

@media screen and (max-width: 576px) {
  .time {
    &__number {
      font-size: $t-4xl;
    }
    
    .eyebrow {
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (max-width: 384px) {
  .time {
    &__number {
      font-size: $t-2xl;
    }
    
    .eyebrow {
      letter-spacing: 0;
    }
  }
}