@use "../../styles/abstract/variables" as *;

.playlist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  &-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h2 {
      font-size: $t-4xl;
      font-family: $serif;
      font-weight: 400;
    }
    
    p {
      max-width: 48ch;
      text-wrap: pretty;
      font-size: $t-l;
      font-family: $sans;
      line-height: 1.5;
      color: var(--text-muted);
    }
  }
  
  &-wrapper {
    display: flex;
    gap: 4rem;
    
    .list {
      flex: auto;
      padding-block: 0.75rem;
      display: flex;
      flex-direction: column;
    }
  }
}