@use "../../styles/abstract/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  
  &__lead {
    text-wrap: pretty;
    font-size: $t-m;
    font-family: $serif;
    color: var(--text-subtle);
  }
}