*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span, strong {
  margin: 0;
  line-height: 1;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input, textarea, select {
  font: inherit;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}